<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <div class="row">
        <form action="/add_book" method="post">
            {% csrf_token %}
            <p>Title: <input type="text" name="title"></p>
            <p>Description: <textarea type="text" name="desc"></textarea></p>
            <input type="submit">
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td><a href="/books/{{book.id}}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>