<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{book.title}}</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <p>ID: {{book.id}}</p>
    <div class="description">
        <p>Description: {{book.desc}}</p>
    </div>
    <p>Authors:</p>
    <ul>
        {% for a in book.authors.all %}
        <li>{{a.first_name}} {{a.last_name}}</li>
        {% endfor %}
        <form action="/add_author_to_book/{{book.id}}" method="post">
        {% csrf_token %}
            <select name="author" id="author">
                {% for a in authors %}
                    <option value="{{a.id}}">{{a.first_name}} {{a.last_name}}</option>
                {% endfor %}
            </select>
            <!--<input type="hidden" value="{{book.id}}">-->
            <input type="submit">
        </form>
    </ul>
</body>
</html>